{% extends "header.html" %}
{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">All Gifts</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {% for g in gp %}

        <div class="feature col bg-light">
            <div class="text-center">
                <i class="far fa-paper-plane fa-7x"></i>
            </div>
            <br/>
            <h3>Pending Matches</h3>
            <div>
                Wished Gift:
                <span>
                    {{ g.gifts|join(', ') }}
                </span>
            </div>
            <a href="{{ url_for('gifts.detail', id=g.id) }}" class="icon-link">
                Details
            </a>
        </div>

        {% endfor %}

        {% for g in gs %}

        <div class="feature col bg-light">
            {% if g.status == "Waiting for Gift Selection" %}
            <div class="text-center">
                <i class="fas fa-brain fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Waiting for Shipping Information" %}
            <div class="text-center">
                <i class="fas fa-dolly fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Tracking Info Entered" %}
            <div class="text-center">
                <i class="fas fa-shipping-fast fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Gift Received" %}
            <div class="text-center">
                <i class="fas fa-gifts fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Comment Received" %}
            <div class="text-center">
                <i class="far fa-kiss-wink-heart fa-7x"></i>
            </div>
            {% endif %}
            <br/>
            <h3>{{ g.status }}</h3>
            <div>
                To:
                <span>
                    {{ g.giftReceiver.username }}
                </span>
            </div>
            <div>
                Gift:
                <span>
                    {{ g.giftName }}
                </span>
            </div>
            <div>
                Tracking:
                <span>
                    {{ g.tracking or "N/A" }}
                </span>
            </div>
            <a href="{{ url_for('gifts.detail', id=g.gift.id) }}" class="icon-link">
                Details
            </a>
        </div>

        {% endfor %}

        {% for g in gr %}

        <div class="feature col bg-light">
            {% if g.status == "Waiting for Gift Selection" %}
            <div class="text-center">
                <i class="fas fa-brain fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Waiting for Shipping Information" %}
            <div class="text-center">
                <i class="fas fa-dolly fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Tracking Info Entered" %}
            <div class="text-center">
                <i class="fas fa-shipping-fast fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Gift Received" %}
            <div class="text-center">
                <i class="fas fa-gifts fa-7x"></i>
            </div>
            {% endif %}
            {% if g.status == "Comment Received" %}
            <div class="text-center">
                <i class="far fa-kiss-wink-heart fa-7x"></i>
            </div>
            {% endif %}
            <br/>
            <h3>{{ g.status }}</h3>
            <div>
                From:
                <span>
                    {{ g.giftReceiver.username }}
                </span>
            </div>
            <div>
                Gift:
                <span>
                    {{ g.giftName }}
                </span>
            </div>
            <div>
                Tracking:
                <span>
                    {{ g.tracking or "N/A" }}
                </span>
            </div>
            <a href="{{ url_for('gifts.detail', id=g.gift.id) }}" class="icon-link">
                Details
            </a>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}