{% extends "header.html" %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/christmas_gifts.jpg') }}" alt="" width="75%" height="100%">
    <h1 class="display-5 fw-bold">Secret Santa Gift Exchange</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Christmas is coming ahead! Do you wish to share the joy of Christmas with more friends? Sign up to be a secret santa this year! You will be matched with other users of this website. Buy them a gift on their gift lists and wish them a happry Christmas! 
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a role="button" class="btn btn-primary btn-lg px-4 gap-3" href="{{ url_for('gifts.request_gift') }}">Make a wish</a>
        </div>
    </div>
</div>

{% endblock %}