{% extends "header.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
<div class="text-center __plain_text_READY__ ext-webkit ext-chrome ext-mac">
    <main class="form-signin">
        <form action="" method="post">
            {{ form.csrf_token }}
            <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>

            <div class="col">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-info">
                    <a href="{{ url_for('users.register') }}">Register an account</a> now <br/> to be a secret santa!
                </div>
                {% endif %}
                {% endwith %}
            </div>

            <div class="form-floating">
                {{ form.username(class="form-control", placeholder="username") }}
                {{ form.username.label() }}

                {% if form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control", placeholder="password") }}
                {{ form.password.label() }}

                {% if form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
            </div>
        </form>
    </main>
</div>
{% endblock %}