{% extends "header.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/list-groups.css') }}" rel="stylesheet">
<div class="container text-center">
    <h2>
        Congratulations, you have been matched!
    </h2>
    <p>
        Select one gift from the wish list, and make magic happen!
    </p>

    <form action="" method="post">
        <div class="list-group list-group-checkable">
            {% for item in choice %}
            <input class="list-group-item-check" type="radio" name="chosenGift" id="{{ item }}" value="{{ item }}">
            <label class="list-group-item py-3" for="{{ item }}">
                {{ item }}
            </label>
            {% endfor %}
        </div>

        <button style="width: auto; max-width: 460px;" class="w-100 btn btn-primary btn-lg"
            type="submit">Submit</button>
    </form>

</div>
{% endblock %}