{% extends "header.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
<div class="text-center __plain_text_READY__ ext-webkit ext-chrome ext-mac">
    <main class="form-signin">
        <form action="" method="post">
            {{ form.csrf_token }}
            <h1 class="h3 mb-3 fw-normal">Register an Account</h1>

            <div class="col">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-info">
                    <a href="{{ url_for('users.login') }}">Log in</a> if you already have an account.
                </div>
                {% endif %}
                {% endwith %}
            </div>

            <div class="form-floating">
                {{ form.username(class="form-control", placeholder="username") }}
                {{ form.username.label() }}

                {% if form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-floating">
                {{ form.email(class="form-control", placeholder="email@example.com", type="email") }}
                {{ form.email.label() }}
                {% if form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control", placeholder="password") }}
                {{ form.password.label() }}

                {% if form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-floating">
                {{ form.confirm_pwd(class="form-control", placeholder="password") }}
                {{ form.confirm_pwd.label() }}
                {% if form.confirm_pwd.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.confirm_pwd.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
            </div>
        </form>

        <!-- <div class="container"> -->
        <hr />

        <div class="alert alert-warning password-alert" role="alert">
            <ul>
                <li class="requirements leng"><i class="fas fa-check green-text"></i><i
                        class="fas fa-times red-text"></i> At least 8 characters</li>
                <li class="requirements big-letter"><i class="fas fa-check green-text"></i><i
                        class="fas fa-times red-text"></i> At least 1 capital letter</li>
                <li class="requirements num"><i class="fas fa-check green-text"></i><i
                        class="fas fa-times red-text"></i> At least 1 number</li>
                <li class="requirements special-char"><i class="fas fa-check green-text"></i><i
                        class="fas fa-times red-text"></i> At least 1 special characters</li>
            </ul>
        </div>
        <!-- </div> -->
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</div>

{% endblock %}